.nav{
    height: 80px;
    width: 100%;
    background-color: rgb(62, 62, 249);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    margin-left: 10px;
    text-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
}
.user-name{
    font-size:1.3rem;
    color: white;
    background-color: rgb(106, 115, 220);
    padding: 2px 10px;
    border-radius: 20px;
}
.nav .button-contianer{
    height: 100%;
    width: 400px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left:30px;
}
.button-contianer button{
    font-size:1.2rem;
    color: white;
    background-color: rgb(106, 115, 220);;
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.button-contianer button:hover{
    background-color: aquamarine;
    color: rgb(244, 245, 248);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
